* {
    max-width: 414px;
    
}

body {
    background: #E5E5E5;
    width: 414px;
    height: 100%;
}

header {
    display: flex;
}
    
.top {
    width: 100%;
    height: 92px;
    
    background: #CF2B2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    z-index: 100;
    top: 0;
    left: 0;
    margin: 0;
    position: fixed;
}

.top h1 {
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: -0.012em;
    color: #FFFFFF;

    margin: 8px 0 5px 21px;
    height: 44px;
}

.top p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;

    margin: 0 0 0 21px;
}

main {
    margin: 123px 0px 92px 0px;
    width: 100%;
}

main h2{
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
    color: #333333;
    margin-left: 19px;
}

.foods, .drinks, .desserts {
    display: flex;
    justify-content: space-between;
    overflow: scroll;
    
    width: calc(100% + 19px);
    /* margin-left: -19px; */  
}

.meal, .drink, .dessert {
    width: 172px;
    height: 216px;
    margin: 17px 8px 27px 8px;

    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;

    display: flex;
    flex-flow: column wrap;
    flex-shrink: 0;
}

.drink {
    height: 202px;
}

.dessert {
    height: 197px;
    margin-bottom: 16px;
}

.meal:first-child, .drink:first-child, .dessert:first-child {
    margin-left: 19px;
}

.meal:last-child, .drink:last-child, .dessert:last-child {
    margin-right: 19px;
}

.meal img, .drink img, .dessert img {
    width: 144px;
    height: 87px;
    border-radius: 4px;

    margin-top: 18px;
    align-self: center;
}

.title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    color: #333333;

    margin: 8px 0 4px 15px;
}

.description {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 19.5px;
    color: #A6A6A6;
    
    margin: 0 11px 5px 14px;
}

.price {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;

    margin-left: 14px;
}

footer {
    width: 100%;
    height: 92px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFFFFF;

    position: fixed;
    bottom: 0;
    opacity: 1;
}

.request-button button {
    width: 364px;
    height: 61px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #CBCBCB;
    border-radius: 50px;
    align-self: center;
    border: none;
}

footer p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;

    color: #FFFFFF;
}

.order-confirm {
    position: fixed;
    width: 377px;
    height: 353px;
    left: 19px;
    top: 225px;
  
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    /* border-radius: 9px; */
  
    background-color: #50d074;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

}

.order-space {
    width: 100%;
    margin-bottom: 10px;
}

.order1,.order2,.order3,.orderTotal {
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
}

.order-confirm h1 {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 22px;
    color: white;

    margin-top: 20px;
    margin-bottom: 20px;
}

.order-confirm p {
    margin-top: 10px;
    margin-bottom: 10px;
  
    font-family: "Roboto";
    font-weight: 400;
    font-size: 22px;
    color: white;
}

.order-confirm button {
    width: 329px;
    height: 52px;
  
    font-family: "Roboto";
    font-weight: bold;
    font-size: 22px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    color: #50d074;
  
    background: #ffffff;
    border-radius: 100px;
    border: none;
  
}


.confirm-button {
    width: 329px;
    height: 52px;
  
    font-family: "Roboto";
    font-weight: bold;
    font-size: 22px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    color: #50d074;
  
    background: #ffffff;
    border-radius: 100px;
    border: none;
    
    margin-top: 0px;
  
} 

.cancel-button button {
    width: 329px;
    height: 52px;
  
    font-family: "Roboto";
    font-weight: normal;
    font-size: 22px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    color: white;
    background: #50D074;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

.hidden {
    display: none;
}

/* .background-white {
    display: none;
    position: absolute;
    width: 414px;
    height: 100%;
    left: 0px;
    top: 0px;
    
    background: rgba(255, 255, 255, 0.9);
} */
